<div class="tabs content-wrapper">
  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel">
    <div mat-tab-link routerLink="list"
         routerLinkActive #listEl="routerLinkActive"
         [active]="listEl.isActive">
      List
    </div>
    <div mat-tab-link routerLink="statistic"
         routerLinkActive #statEl="routerLinkActive"
         [active]="statEl.isActive">
      Statistic
    </div>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>

