<ng-container *ngIf="page$ | async as page">

  <table mat-table [dataSource]="page.data" class="mat-elevation-z8 statistic-table">

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Count</th>
      <td mat-cell *matCellDef="let element">{{ element.itemsCount }}</td>
    </ng-container>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No data yet.
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 [length]="page.total"
                 [pageSize]="page.pageSize"
                 [pageIndex]="page.pageIndex"
                 (page)="paginationChange($event)"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</ng-container>
