<mat-toolbar color="primary">
  <span>Items app - Registration</span>
</mat-toolbar>
<div class="content">
  <mat-card>
    <mat-card-title>Registration form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" type="username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="passwordConfirm">
        </mat-form-field>

        <div class="buttons">
          <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Register</button>
          <button routerLink="/auth/login" type="button" mat-button color="primary">To Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
