<mat-toolbar color="primary">
  <span>Items app - Registration</span>
</mat-toolbar>
<div class="content">
  <mat-card>
    <mat-card-title>Registration form</mat-card-title>
    <mat-card-content>
      <form *ngIf="form$ | async as form" [ngrxFormState]="form" (ngSubmit)="submit()" class="auth-form">
        <mat-form-field *ngIf="form.controls.username as usernameCtrl">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" type="username" [ngrxFormControlState]="usernameCtrl" [groupErrors]="form.errors">
          <mat-error *ngIf="usernameCtrl.errors.required">Username required</mat-error>
          <mat-error *ngIf="usernameCtrl.errors.userAlreadyExist">User already exist</mat-error>
          <mat-error *ngIf="usernameCtrl.errors.isLowercase">Username should be in lowercase</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="form.controls.password as passwordCtrl">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" [ngrxFormControlState]="passwordCtrl" [groupErrors]="form.errors">
          <mat-error *ngIf="passwordCtrl.errors.required">Password required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="form.controls.passwordConfirm as passwordConfirmCtrl">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Password" type="password" [ngrxFormControlState]="passwordConfirmCtrl" [groupErrors]="form.errors">
          <mat-error *ngIf="passwordConfirmCtrl.errors.noMatch">Password miss match</mat-error>
        </mat-form-field>

        <div class="buttons">
          <button [disabled]="form.isInvalid" type="submit" mat-raised-button color="primary">Register</button>
          <button routerLink="/auth/login" type="button" mat-button color="primary">To Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
