<div class="chat-container content-wrapper">
  <!-- Chat rooms list -->
  <mat-card *ngIf="me$ | async as me" class="chat-rooms-list">
    <mat-list *ngIf="rooms$ | async as rooms">
      <mat-list-item *ngFor="let room of rooms; first as first"
                     [class.active]="roomId === room.id"
                     [routerLink]=" room.id.toString()" [relativeTo]="route" replaceUrl="true">
        <div mat-line class="room-name">{{ room.members | roomName: me.id  }}</div>
        <div mat-line class="last-message">{{ room.lastMessage?.text ?? 'No message yet'}}</div>
        <div mat-line class="last-message-date">{{ room.lastMessage?.updatedAt | date }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <!-- Chat room -->
  <mat-card class="chat-room">
    <router-outlet #routerOutlet></router-outlet>
    <div *ngIf="!routerOutlet" class="stub">
    </div>
  </mat-card>
</div>
