
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}


.content-wrapper {
  max-width: 940px;
  max-height: 940px;
  margin: 0 auto;
}

body:not(.is-ios) .custom-scroll::-webkit-scrollbar {
  //display: none;
}
