<div *ngrxLet="{
    room: room$,
    messages: messages$,
    me: me$,
    form: form$
 } as data" class="room-wrapper">
  <mat-card-content *ngIf="data.messages"
                    scrollHandler [scrollButton]="scrollButton" [messagesRendered]="messagesRendered"
                    class="messages custom-scroll"
                    #chatContainerRef>
    <div *ngFor="let message of data.messages"
         [@.disabled]="!messagesRendered"
         [class.sent]="message?.senderId === data.me?.id"
         [class.received]="message?.senderId !== data.me?.id"
         class="message-wrapper">
      <span *ngIf="message"
            @messageAnimation
            class="message-bubble">
        {{ message.text }}
      </span>
      <div class="message-meta">{{message.createdAt | date: 'HH:mm'}}</div>
    </div>

  </mat-card-content>
  <mat-card-content *ngIf="data.form" class="message-form">
    <form [ngrxFormState]="data.form" (submit)="sendMessage()">
      <textarea [ngrxFormControlState]="data.form.controls.text" textareaAutosize textAreaSubmit placeholder="Type your message"></textarea>
      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </mat-card-content>
  <button mat-raised-button #scrollButton class="scroll-to-latest hidden">
    <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
  </button>
</div>
