:host {
  height: 100%;
}

.room-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;


  .messages {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 32px 0 16px 0;
    gap: 8px;
    position: relative;
    flex-direction: column;

    .date-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .date-label {
        position: sticky;
        top: 0;
        margin: auto;
        z-index: 100;
      }

      .message-wrapper {
        display: flex;
        flex-direction: column;
        contain: layout;

        .message-bubble {
          position: relative;
          padding: 8px 10px;
          border-radius: 5px;
          display: inline-block;
          word-break: break-word;
          white-space: pre-line;
          width: fit-content;
          max-width: 70%;

          z-index: 100;
          max-height: 100%;
        }


        .message-meta {
          font-size: 12px;
          margin: 5px;
          color: #888;
        }


        &.sent {
          .message-bubble {
            background-color: #3f51b5;
            color: white;
            align-self: flex-end;
          }

          .message-meta {
            align-self: flex-end;
          }
        }


        &.received {
          .message-bubble {
            background-color: #e0e0e0;
          }
        }

        &:first-child {
          margin-top: auto;
        }
      }
    }
  }

  .message-form {
    display: flex;
    margin-top: auto;
    padding: 0;
    position: relative;
    z-index: 100;


    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 16px;
      position: relative;
      padding-top: 16px;

      .textarea-wrapper {
        display: flex;
        width: 90%;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0 0 10px 0 rgba(146, 146, 146, 0.3);
        border-color: rgba(146, 146, 146, 0.58);
        padding: 16px;

        position: relative;
        z-index: 100;
        background: white;

        textarea {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          border: none;
          outline: none;
          overflow: scroll;
        }
      }

      textarea::placeholder {
        margin: 10px
      }

      button {
        height: 100%;
        width: 10%;
        max-height: 56px;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 rgba(146, 146, 146, 0.3);
      }
    }
  }

  .scroll-to-latest {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 22px;
    left: 11px;
    z-index: 1;

    background: #3f51b5;
    color: white;
    opacity: 0.8;
    transition: transform 300ms ease-out 100ms, opacity 300ms ease-out 100ms;
    transform: translateY(-75px);

    &.hidden {
      opacity: 0;
      transform: translateY(0);
    }

    mat-icon {
      margin: 0;
      display: flex;
      width: 20px;
      height: 20px;
      font-size: 35px;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }

}

* ::-webkit-scrollbar {
  display: none;
}
